@media (max-width:1030px) {

    




































}@media (max-width:991px) {
        /* Special */
        .special-li{
            margin-right: 3px;     
            padding: 10px 15px;     
        }
        .digits{
            font-size: 30px;
        }
        .names{
            font-size: 15px;
           
           
        }



}

@media (max-width:767px) {
    /* Home */
    .home-text h1{
       
        font-size: 40px;
       margin-bottom: 20px;
    }
    
    .home-text  h2{
       
        font-size: 20px;
    }
    .carousel-item .home-banner-1,
    .carousel-item .home-banner-2{
      
       min-height: 50vh;
   }
   .home-text{
    position: absolute;
   
     top: 20%;
    left: 15%;
}
.home .btn-danger{
   
padding: 0.4em 1rem;

}
   /* offer */
   .offer-info-inner .heading-bigger{
    font-size: 40px;
}

            /* product */


            .product-lg-img h2{
               
                font-size: 14px;
            }







}